################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/bin/Debug/netcoreapp3.1
/Application/obj
/Domain/bin/Debug/netcoreapp3.1
/Domain/obj
/Persistance/bin/Debug
/Persistance/obj
/UnitTestProject/bin/Debug/netcoreapp3.1
/UnitTestProject/obj
/Domain/bin/Debug/netcoreapp3.0
/UnitTestProject/bin/Debug/netcoreapp3.0
/WebAPI/bin/Debug/netcoreapp3.1
/WebAPI/obj
/TaskCreatorTestProject/bin/Debug/netcoreapp3.1
/TaskCreatorTestProject/obj
